<!DOCTYPE html>
<html>
<head>
    <title>Score Dei</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready( function () {
            $('#dataTable').DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": [0,2] }
                ]
            })
        } );
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Score Dei</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/listGames">Games</a></li>
            <li class="active"><a href="/listTeams">Teams</a></li>
            <li><a href="/listPlayers">Players</a></li>
            <li><a href="/stats">Stats</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" sec:authorize="!isAuthenticated()">
            <<li><a th:href="@{/createData}"><span class="glyphicon glyphicon-floppy-disk"></span> Create Data</a></li>
            <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
            <li><a th:text="${#authentication.name}"><span class="glyphicon glyphicon-user" th:text="${#authentication.name}"></span> Logout</a></li>
            <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/admin/register}"><span class="glyphicon glyphicon-user"></span> Sign up new User</a></li>
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>


<div class="container text-center">

    <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">List of teams</p>
    <table class="table table-bordered table-responsive" id="dataTable" data-page-length='50' data-order='[[1, "asc"]]'>
        <thead>
        <tr>
            <th>Logo</th>
            <th>Name Of Team</th>
            <th>Team Details</th>
            <th sec:authorize="hasAuthority('ADMIN')">Edit Team</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${teams}">
            <td><img th:src="${(s.imagePath != null && !#strings.isEmpty(s.imagePath)) ? s.imagePath : 'https://cdn-icons-png.flaticon.com/512/2718/2718324.png'}" alt="Team Logo" width="50" height="50"></td>
            <td th:text="${s.name}">name</td>
            <td><a th:href="@{teamDetails(id=${s.id})}">Open Details</a></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{editTeam(id=${s.id})}">Edit team</a></td>
        </tr>
        </tbody>
    </table>
    <br>
    <div class="row" sec:authorize="hasAuthority('ADMIN')">
        <div class="col text-center">
            <a th:href="@{/createTeam}"  class="btn btn-primary btn-lg">
                Create Team
            </a>
        </div>
    </div>
    <br>
</div>
</body>
</html>