<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:border-collapse="http://java.sun.com/xml/ns/persistence/orm">
<head>
    <title>Score Dei</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready( function () {
            $('#dataTable').DataTable()
        } );
    </script>
    <style type="text/css">
        .table-borderless > tbody > tr > td,
        .table-borderless > tbody > tr > th,
        .table-borderless > tfoot > tr > td,
        .table-borderless > tfoot > tr > th,
        .table-borderless > thead > tr > td,
        .table-borderless > thead > tr > th {
            border: none;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Score Dei</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/listGames">Games</a></li>
            <li><a href="/listTeams">Teams</a></li>
            <li><a href="/listPlayers">Players</a></li>
            <li><a href="/stats">Stats</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" sec:authorize="!isAuthenticated()">
            <<li><a th:href="@{/createData}"><span class="glyphicon glyphicon-floppy-disk"></span> Create Data</a></li>
            <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
            <li><a th:text="${#authentication.name}"><span class="glyphicon glyphicon-user" th:text="${#authentication.name}"></span> Logout</a></li>
            <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Sign up new User</a></li>
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>


<div class="container text-center">
    <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Add Game Event Player</p>
    <br>
    <form th:action="@{/saveEvent}" th:object="${gameEvent}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{eventGame}">
        <input type="hidden" th:field="*{eventDescription}">
        <input type="hidden" th:field="*{eventTime}">
        <input type="hidden" th:field="*{team}">
        <input type="hidden" th:field="*{eventType}">
        <div class = "form-group">
            <label for="player"> Player </label>
            <select id="player" th:field="*{player}" class="form-control">
                <option th:each="p : ${gameEvent.eventGame.getTeamA().getTeamPlayers()}"
                        th:value="${p.getId()}"
                        th:text="${p.getName()}">
                    Team A Players
                </option>
                <option th:each="p : ${gameEvent.eventGame.getTeamB().getTeamPlayers()}"
                        th:value="${p.getId()}"
                        th:text="${p.getName()}">
                    Team B Players
                </option>
            </select>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col text-center">
                    <input type="submit" name="gameEvent-submit" id="gameEvent-submit"
                           class="btn btn-primary btn-lg" value="Edit/Create Game Event" />
                </div>
                <br>
                <div class="col text-center">
                    <a th:href="@{/listGames}"  class="btn btn-outline-secondary btn-lg">
                        Cancel
                    </a>
                </div>

            </div>
        </div>
    </form>
</div>

</body>
</html>